<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная страница</title>
    </head>
    <body>
        <h1>Проект Нодлеш</h1>

        <div class="section">
        <!--    Блок со списком пользователей -->
            <h2>Список пользователей</h2>
            {% if users: %}
            <ul>
                {% for user in users %}
                <li>{{ user.id }} - {{ user.username }} ({{ user.email }})</li>
                {% endfor %}
            </ul>
            {% else %}
                <h3>Пользователи не добавлены</h3>
            {% endif %}

        <!--    Блок со списком задач -->
            <h2>Задачи</h2>
                {% if tasks: %}
            <ul>
                {% for task in tasks %}
                <li>{{ task.task_id }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <h3>Задачи не поставлены</h3>
            {% endif %}
        <!--    Блок со списком команд -->
            <h2>Команды</h2>
                {% if teams: %}
            <ul>
                {% for team in teams %}
                <li>{{ team.team_id }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <h3>Команды не созданы</h3>
            {% endif %}

        <!--    Блок со списком встреч -->
        <!--    добавить отображение календаря -->
            <h2>Встречи</h2>
                {% if meetings: %}
            <ul>
                {% for meeting in meetings %}
                <li>{{ meeting.meeting_name }} - {{ meeting.meeting_admin }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <h3>Встречи не назначены</h3>
            {% endif %}

<!--&lt;!&ndash;            Календарь&ndash;&gt;-->
<!--            <h2>События календаря</h2>-->
<!--                {% if calendar_repo: %}-->
<!--            <ul>-->
<!--                {% for event in calendar_repo.get_upcoming_events %}-->
<!--                <li>{{ event }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            {% else %}-->
<!--                <h3>События в календаре отсутствуют</h3>-->
<!--            {% endif %}-->


        </div>
    </body>
</html>
